.container {
    min-height: 100vh;
    position: relative;
    // background-image: url('../../assets/images/sky.png');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    background-color: #000;

    .intro {
        padding: 200px;

        @media (max-width: 768px) {
            .intro {
                padding: 0;
            }
        }
    }

    .container-3d {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 300px;
        width: 100%;
        height: 100%;
        // background: red;
    }

}

.card-custom {
    background: #1a1a1a;
    border: 1px solid #333;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-10px);
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(46, 229, 157, 0.4),
            0 0 15px rgba(46, 229, 157, 0.3),
            0 0 30px rgba(46, 229, 157, 0.2);
        border-color: #52c41a !important;

        .ant-typography {
            color: #52c41a !important;
        }
    }
}